<div class="row mt-5 mb-5">
    <div class="col-sm-4">
        <div class="w-50">
          <%= render 'layouts/prof_icon', user: @question.user %>
        </div>
    </div>
    <div class="col-sm-8">
        <h1><%= @question.title %></h1>
        <p><%= @question.content %></p>
        <div class="btn btn-primary float-right"><%= link_to '返信', new_question_answer_path(@question.id), class: 'text-white' %></div>
    </div>
</div>

<div class="border-top border-bottom">
    <h2 class="text-center m-4">返信一覧</h2>
</div>
<div>
  <% @answers = @question.answers.all %>
    <% @answers.each do |answer| %>
      <div class="row m-3 border-bottom">
          <div class="col-sm-4 w-50">
              <div class="float-right">
                <%= render 'layouts/prof_icon', user: answer.user %>
              </div>
          </div>
          <div class="col-sm-8">
              <p><%= answer.content %></p>
          </div>
      </div>
    <% end %>
</div>