<div class="container" >
    <div class="row mt-5 mb-5">
        <div class="col-sm-4">
            <div class="w-50">
              <%= render 'layouts/prof_icon', user: @question.user %>
            </div>
        </div>
        <div class="col-sm-8">
            <h1><%= @question.title %></h1>
            <p><%= safe_join("#{@question.content}".split("\n"),tag(:br)) %></p>
            
            <% if current_user == @question.user %>
              <div class="btn btn-danger float-right ml-2"><%= link_to '削除', @question, method: :delete, data: { confirm: '本当に削除しますか?' }, class: 'text-white' %></div>
              <div class="btn btn-info float-right ml-2"><%= link_to '編集', edit_question_path(@question.id), class: 'text-white' %></div>
            <% end %>
            <div class="btn btn-primary float-right"><%= link_to '返信', new_question_answer_path(@question.id), class: 'text-white' %></div>
        </div>
    </div>

    <div class="border-top border-bottom">
        <h2 class="text-center m-4">返信一覧</h2>
    </div>
    <div>
      <% @answers = @question.answers.all %>
        <% @answers.each do |answer| %>
          <div class="row m-3 border-bottom">
              <div class="col-sm-4">
                  <div class="text-center w-50">
                      <div class="mb-3">
                        <%= render 'layouts/prof_icon', user: answer.user %>
                      </div>
                  </div>
              </div>
              <div class="col-sm-8">
                  <p><%= safe_join("#{answer.content}".split("\n"),tag(:br)) %></p>
                  <% if current_user == answer.user %>
                    <div>
                      <%= link_to '編集', edit_question_answer_path(@question.id, answer), class: 'btn btn-info float-right' %>
                    </div>
                    <div>
                      <%= link_to '削除', question_answer_path(@question.id, answer), method: :delete, class: 'btn btn-danger float-right mr-3' %>
                    </div>
                  <% end %>
              </div>
          </div>
        <% end %>
    </div>
</div>