<div class="container" >
    
    <div class="mx-auto mt-5" style="width: 200px;">
      <%= render 'layouts/prof_icon', user: @user %>
    </div>
    
    
        <ul class="nav nav-tabs nav-justified mt-3">
            <li class="nav-item">
                <a href="<%= user_path(@user) %>" class="nav-link text-dark ">
                  質問一覧
                </a>
            </li>
        
            <li class="nav-item">
                <a href="<%= user_favorite_questions_path(@user) %>" class="nav-link text-dark <%= 'active' if current_page?(user_favorite_questions_path(@user)) %>">
                  お気に入り
                </a>
            </li>
        </ul>
        
        <% questions = @favorites.order(id: :desc).page(params[:page]).per(10) %>
        <% questions.each do |question| %>
            <div class="mt-3">
                <div class="mb-3">
                  <%= render 'layouts/question_index', question: question, user: @user %>
                </div>
                <hr>
            </div>
        <% end %>
        
        <%= paginate questions %>
        
        
    
</div>