<div class="container">
    <div class="justify-content-center mt-5">
        <h1 class="text-center">ユーザー設定</h1>
    </div>

    <div class="row">
        <div class="col-sm-6 offset-sm-3">
      
          <%= form_with(model: @user, local: true) do |f| %>
            <%= render 'layouts/error_message', model: f.object %>
        
            <div class="form-group">
              <%= f.label :name, 'ユーザー名' %>
              <%= f.text_field :name, class: 'form-control' %>
            </div>
        
            <div class="form-group">
              <%= f.label :email, 'メールアドレス'  %>
              <%= f.text_field :email, class: 'form-control' %>
            </div>
        
            <div class="form-group">
              <%= f.label :password, '新しいパスワード' %>
              <%= f.password_field :password, class: 'form-control' %>
            </div>
        
            <div class="form-group">
              <%= f.label :password_confirmation, '新しいパスワード(確認)' %>
              <%= f.password_field :password_confirmation, class: 'form-control' %>
            </div>
            
            <div class="form-group">
              <%= f.label :image, 'プロフィール画像' %>
              <%= f.file_field :imgae, class: 'form-control' %>
            </div>
        
            <%= f.submit 'ユーザー編集', class: 'btn btn-primary btn-block' %>
          <% end %>
        
        </div>
    </div>
</div>