<div class="row justify-content-center mt-5">
    <div class="col-sm-4">
        <%= render 'layouts/prof_icon', user: @user %>
    </div>
</div>
<div class="justify-content-center mt-5">
    <h1 class="text-center">質問一覧</h1>
</div>
</div>
<div class="border-top"></div>
<div class="border-bottom">
  <% @user.questions.each do |question| %>
    <div class="text-center mt-4">
        <h3><%= question.title %></h3>
    </div>
    <div class="text-center mt-3">
        <p><%= question.content %></p>
    </div>
    <div class="row justify-content-end">
        <div class="mr-3">
          <%= link_to '返信', new_question_answer_path(question.id), class: 'btn btn-primary' %>
        </div>
        <div class='mr-5'>
          <%= link_to '詳細', question, class: 'btn btn-success' %>
        </div>
    </div>
  <% end %>
</div>
