<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="/">ArabiQ</a>
          
          <ul class="navbar-nav">
            <% if logged_in? %>
              <li class="nav-item text-muted"><%= link_to '質問する', new_question_path %></li>
              <li class="nav-item dropdown dropdown-menu-right">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">メニュー</a>
                <ul class="dropdown-menu">
                  <li class="dropdown-item"><%= link_to current_user.name, user_path(current_user) %></li>
                  <li class="dropdown-item"><%= link_to 'ユーザー一覧', users_path %></li>
                  <li class="dropdown-item"><%= link_to 'ログアウト', logout_path, method: :delete %></li>
                </ul>
              </li>
            <% else %>      
              <li class="nav-item"><%= link_to 'ログイン', login_path, class: 'nav-link' %></li>
              <li class="nav-item"><%= link_to 'ユーザー登録', new_user_path, class: 'nav-link' %></li>
            <% end %>
          </ul>
    </nav>
</header>