<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><h2>ArabiQ</h2></a>
         
          <div class="justify-content-end">
            <ul class="navbar-nav">
              <% if logged_in? %>
                <li class="nav-item mr-4 mt-2">
                  <%= form_with url: search_questions_path, method: :get, local: true do |f| %>
                  <div class="row">
                    <%= f.text_field :keyword %>
                    <%= f.submit :'検索' %>
                  </div>
                  <% end %>
                </li>
                <li class="nav-item"><%= link_to '質問する', new_question_path, class: 'btn btn-lg btn-success' %></li>
              <% else %>      
                <li class="nav-item"><%= link_to 'ログイン', login_path, class: 'btn btn-lg text-white' %></li>
                <li class="nav-item"><%= link_to 'ユーザー登録', new_user_path, class: 'btn btn-lg text-white' %></li>
              <% end %>
            </ul>
          </div>
      </div>  
    </nav>
    <nav id="global_nav">
        <ul>
            <li class="btn"><%= link_to current_user.name.truncate(10), user_path(current_user) %></li>
            <li class="btn"><%= link_to 'ユーザー一覧', users_path %></li>
            <li class="btn"><%= link_to 'ユーザー設定', edit_user_path(current_user) %></li>
            <li class="btn"><%= link_to 'ログアウト', logout_path, method: :delete %></li>
        </ul>
    </nav>
</header>